NEXT_PUBLIC_APP_URL=https://localhost:3000
NEXT_PUBLIC_APP_NAME=

NEXT_PUBLIC_USER_API_HOST=https://localhost:8080
NEXT_PUBLIC_FAKEBOOK_API_HOST=https://localhost:8081

NEXT_PUBLIC_INDEXDB_NAME=
NEXT_PUBLIC_INDEXDB_OFFLINE_NAME=
NEXT_PUBLIC_INDEXDB_OFFLINE_GGDRIVE_BACKUP_API_KEY=
NEXT_PUBLIC_INDEXDB_OFFLINE_GGDRIVE_BACKUP_CLIENT_ID=

NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

SSO_LOGIN_GOOGLE_CLIENT_ID=
SSO_LOGIN_GOOGLE_CLIENT_SECRET=

FREECHAT_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
FREECHAT_PASSWORD_ENCRYPT_SALT=10
FREECHAT_SESSION_SECRET=
FREECHAT_SA_EMAIL=
FREECHAT_SA_PASSW=
NEXT_PUBLIC_FREECHAT_SOCKET_URL=
