@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  overscroll-behavior: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  overscroll-behavior: none;
}
